@import 'styles/variables';

.button {
  display: flex;
  padding: 4px 5px;
  border-radius: 4px;
  color: $color-secondary;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  font-size: 13px;
  min-height: 30px;
  align-items: center;

  &:hover {
    background-color: $background-color-button-hover;
  }
};

.text {
  padding-left: 0.5em;
  text-transform: uppercase;
  font-size: 13px;
};