@import 'styles/variables';

.book {
  color: $color-text-secondary;
  text-align: center;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

.title {
  font-weight: 700;
  font-style: italic;
}

.subtitle {
  font-style: italic;
};