// ============ colors
$color-primary: #91241a;
$color-text: #ffffff;

// ============ background-colors
$background-color-primary: #1e1e1e;

// ============ borders
$border-color-primary: #ffffff;
$border-color-secondary: #000000;

// ============ fonts-size
$font-x-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;

// ============ fonts-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

