// ============ colors
$color-primary: #b71c1c;
$color-text: #ffffff;
$color-text-secondary: #c2beb5;
$color-secondary: #f44336;


// ============ background-colors
$background-color-primary: #303030;
$background-color-secondary: #424242;
$background-color-tertiary: #212121;
$background-color-button-hover: rgba(244, 67, 54, 0.12);

// ============ borders
$border-color-primary: rgba(81, 81, 81, 1);
$border-color-secondary: #000000;
