// ============ colors
$color-primary: #91241a;
$color-text: #ffffff;

// ============ background-colors
$background-color-primary: #303030;
$background-color-secondary: #424242;

// ============ borders
$border-color-primary: rgba(81, 81, 81, 1);
$border-color-secondary: #000000;
