@import 'styles/variables';

.preview {
  display: flex;
};

.filters {
  width: 200px;
  min-width: 200px;
  padding: 24px;
  border-right: 1px solid $color-primary;
  min-height: calc(100vh - 56px);
};

.filtersHeader {
  font-size: 18px;
  margin-bottom: 24px;
};

.filtersOptions {
  margin-bottom: 24px;
};

.link {
  text-decoration: underline;
  margin-bottom: 16px;
};

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
};

.seriesCheckboxes {
  padding-bottom: 16px;
  padding-left: 16px;
};

.filter {
  font-size: 13px;
};

.collapse {
  display: flex;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;

  & > svg {
    margin-left: 4px;
  };
}

.content {
  padding: 16px;
  display: flex;
  max-width: calc(100vw - 200px);
  flex-wrap: wrap;
  align-content: flex-start;
};

.previewElement {
  width: 220px;
  min-height: 280px;
  padding: 16px 8px;
};

.saveButton {
  margin-top: 16px;
};
