.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
};

.name {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 500;
}

.actions {
  display: flex;
  gap: 0 8px;
};
