.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
};

.left {
  display: inline-flex;
  align-items: center;
  gap: 0 16px;
};

.name {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 500;
};

.actions {
  display: flex;
  gap: 0 8px;
};
