@import 'styles/variables';

html,
body {
  background-color: $background-color-primary;
  color: $color-text;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
